@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.detail {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .detail-path {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: $blue-text-color;
      margin-bottom: 60px;

      span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #B9D5FD;
      }

    }

    .detail-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      .detail-head-info {
        max-width: 607px;

        .detail-title {
          @include head-lora-38;
          margin-bottom: 40px;
        }

        .detail-description {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          color: $blue-text-color;
        }
      }

      .detail-head-image {
        width: 527px;
        height: 320px;
        background-size: cover;
        background-position: center;
      }

    }

    .detail-content {
      display: flex;
      justify-content: space-between;

      .detail-content-text {
        max-width: 818px;
        font-size: 14px;
        line-height: 130%;
        color: $base-text-color;
        margin-bottom: 41px;

        &::ng-deep h3, &::ng-deep h1 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          color: $blue-text-color;
          margin-bottom: 20px;

          &:first-child {
            margin-top: 0;
          }

        }

        &::ng-deep p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $base-text-color;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }

      .detail-socials {
        display: flex;
        margin-bottom: 120px;

        span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 14px;
          color: $blue-text-color;
          margin-right: 20px;
        }

        a {
          display: flex;
          text-decoration: none;
          cursor: pointer;
          margin-right: 13px;
        }
      }

      .detail-comments-empty {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 14px;
        color: $base-text-color;
      }

      .detail-comments {
        .detail-comments-title {
          @include head-lora-38;
          margin-bottom: 20px;
        }

        .detail-comments-message {
          margin-bottom: 20px;
          font-size: 14px;
          color: $base-text-color;

          a {
            color: $blue-text-color;
            text-decoration: none;
          }
        }

        .detail-comments-form {
          .detail-comments-textarea textarea {
            margin-top: 20px;
            width: 818px;
            height: 248px;
            background: #FFFFFF;
            border: 1.5px solid #709FDC;
            border-radius: 3px;
            padding: 20px;
            box-sizing: border-box;
            font-size: 14px;
            color: $base-text-color;
            margin-bottom: 20px;

            &::placeholder {
              line-height: 130%;
              color: #A8ABA7;
            }
          }

          .detail-comments-button button {
            width: 422px;
            height: 51px;
            margin-bottom: 20px;
          }
        }

        .detail-comments-items {
          margin-bottom: 59px;


        }

        .detail-comments-link {
          display: flex;
          align-items: center;
          cursor: pointer;

          span {
            font-weight: 500;
            font-size: 20px;
            color: $blue-text-color;

          }

          a {
            margin-left: 10px;
            display: flex;
            text-decoration: none;
          }
        }
      }

      .detail-recommended-articles {
        width: 291px;

        .detail-recommended-title {
          margin-bottom: 20px;
          font-family: 'Lora', sans-serif;
          font-weight: 400;
          font-size: 26px;
          line-height: 130%;
          color: $blue-text-color;
        }

        &::ng-deep .article-card {
          margin-bottom: 60px;
        }

        &::ng-deep:last-child .article-card {
          margin-bottom: 0;
        }

      }
    }


  }
}
