<div class="blog">
  <div class="container">
    <div class="blog-title">Блог</div>
    <div class="blog-head">
      <div class="blog-applied-filters">
        <div class="blog-applied-filter" *ngFor="let appliedFilter of appliedFilters">
          <span>{{appliedFilter.name}}</span>
          <a (click)="removeAppliedFilter(appliedFilter)">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1100_264)">
                <line x1="1.93553" y1="3.15002" x2="13.9563" y2="15.1708" stroke="#709FDC" stroke-linecap="round"/>
                <line x1="13.9236" y1="3.12984" x2="1.90278" y2="15.1507" stroke="#709FDC" stroke-linecap="round"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="blog-filter" [class.open]="openFilter">
        <div class="blog-filter-head" (click)="toggle()">
          <span>Фильтр</span>
          <svg *ngIf="!openFilter" width="20" height="21" viewBox="0 0 20 21" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 14.5C9.41668 14.5 8.83335 14.275 8.39168 13.8334L2.95835 8.40003C2.71668 8.15837 2.71668 7.75837 2.95835 7.5167C3.20002 7.27503 3.60002 7.27503 3.84168 7.5167L9.27502 12.95C9.67502 13.35 10.325 13.35 10.725 12.95L16.1583 7.5167C16.4 7.27503 16.8 7.27503 17.0417 7.5167C17.2833 7.75837 17.2833 8.15837 17.0417 8.40003L11.6083 13.8334C11.1667 14.275 10.5833 14.5 10 14.5Z"
              fill="#071739"/>
          </svg>
          <svg *ngIf="openFilter" width="16" height="8" viewBox="0 0 16 8" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.99998 -3.14713e-05C8.58332 -3.14713e-05 9.16665 0.224967 9.60832 0.666634L15.0417 6.09997C15.2833 6.34163 15.2833 6.74163 15.0417 6.9833C14.8 7.22497 14.4 7.22497 14.1583 6.9833L8.72498 1.54997C8.32498 1.14997 7.67498 1.14997 7.27498 1.54997L1.84165 6.9833C1.59999 7.22497 1.19998 7.22497 0.958317 6.9833C0.716651 6.74163 0.716651 6.34163 0.958317 6.09997L6.39165 0.666634C6.83332 0.224967 7.41665 -3.14713e-05 7.99998 -3.14713e-05Z"
              fill="#071739"/>
          </svg>
        </div>
        <div class="blog-filter-body">
          <category-filter *ngFor="let category of categories" [category]="category"
          [activeParams]="activeParams"></category-filter>
        </div>
      </div>
    </div>
    <div class="blog-articles">
      <article-card *ngFor="let article of articles" [article]="article"></article-card>
    </div>
    <div class="pagination" *ngIf="pages.length>1">
      <div class="pagination-arrow pagination-arrow-back" (click)="openPrevPage()"
           [class.disabled]="activeParams.page? activeParams.page === 1 : true">
      </div>
      <div class="pagination-pages">
        <a class="pagination-page" *ngFor="let page of pages" (click)="openPage(page)"
           [class.active]="activeParams.page ? activeParams.page===page:(page===1)">{{page}}</a>
      </div>
      <div class="pagination-arrow pagination-arrow-next" (click)="openNextPage()"
           [class.disabled]="activeParams.page ? activeParams.page === pages.length : false">
      </div>
    </div>
  </div>
</div>
